VITE_APPS_SCRIPT_ADMIN_AUTH_URL=https://script.google.com/macros/s/AKfycbxjIv35uqVY0UA3WXXmXciobj9zXw8fcdg-qDtWml0rCH8xOILVU8b6JrzQgvm5SzG5fQ/exec
VITE_APPS_SCRIPT_API_SECRET=replace-with-your-apps-script-api-secret
